{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<h1>Instrucciones</h1>

		<p>Antes de seleccionar un archivo verifique que cumple con las siguientes restricciones:</p>
		<p>Seleccione en el cuadro de texto la ruta absoluta al directorio raiz del proyecto</p>
		<p>Estándar de conteo:</p>
	</div>
	
	<div class="">
		<iframe src="/public/loc_std.pdf" style="width:800px; height:500px;" frameborder="0"></iframe>
	</div>
	


	<a href="/" class="btn btn-primary">Volver al formulario</a>
</div>


{{template "footer.html" .}}

