.hero-unit {
	background: #6A7389;
	color: #fff;
}

footer{
	background: #B0B5C4;
	color: #fff;
}

.btn-button{
	background: #DFE8FC;
	color: #461F21;
}

.navbar-fixed-bottom{
	background: #B0B5C4;
}
